# Dependencies
node_modules/

# Build
dist/
serviceAccountKey.json
# Environment variables — مهم جداً لا ترفعها على GitHub
.env
.env.local
.env.production

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
